

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
*{
  scroll-behavior: smooth;
  
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

$italic :"regular";
$bold : "bold";
$bh1 :"semi-bold";
$love : "stim";
$stim : "goplah";
$fav : "italic";


*h2{font-family: $love;}

.banner{
    background-image: url(./img/background\ 01.png); height: 750px; background-size: cover;background-repeat: no-repeat;display: flex;flex-direction: column;position: relative;z-index: 99;
    h1{font-size: 25px;color: rgba(255, 255, 255, 0.757);font-family: $love; margin-top: 300px;
        a{color: rgba(255, 255, 255, 0.757);font-family: $love; text-decoration: none;}
    }
    h3{color: rgba(255, 249, 242, 0.626); font-size: 15px; margin-top: 35px; font-family: $stim;
    span{color: rgba(244, 42, 42, 0.643); font-size: 20px;font-family: $love;}
}
a{text-align: center; color: white; text-decoration: none;}
button{ height: 60px;width: 140px; background-color: rgba(244, 42, 42, 0.643);color: white;border-radius: 0px;border: 0px;font-family: $italic; margin-top: 80px; margin-bottom: 30px;font-size: 12px;line-height: 35px; text-align: center;
    a{color: white;text-decoration: none;font-size: 7px;}}
    button:hover{cursor: pointer;background-color: white; color: black;}
    // button{margin-left: 200px;height: 110px;width: 110px; background-color: black;color: white;border-radius: 100px;border: 0px;font-family: $italic;font-size: 20px;margin-top: 80px; margin-left: 30px;}}
}


.about{
    background-color:white; position: relative; 
    h2{color:black white;font-size: 20px;font-family: $love;padding-top: 80px;}
    h4{font-size: 20px;font-family: $bh1;padding-top: 30px;}
    .box{left: 10%;
        img{width: 100px;margin-top: 80px;}}
    a{text-decoration: none;}
    h5{font-size: 15px;font-family: $bh1; margin-top: 30px;
    span{color: rgba(244, 42, 42, 0.643);font-size: 20px; font-family: $fav;}}
    h3{font-size: 15px;font-family: $bh1; margin-top: 30px;
    span{font-size: 15px;font-family: $italic;}}
    p{color: black;font-family: $italic; line-height: 35px; font-size: 15px;
    span{font-size: 30px;color: rgb(141, 29, 29);margin-top: 30px;font-family: $love;} }
    .paragraph{margin-bottom: 80px; padding-left: 40px;line-height: 25px; font-family: $italic;}
    .image_one{padding-top: 40px;position: relative;
    img{position: relative; height: 600px;}}
    .overlay{position: absolute;background-color: rgba(0, 0, 0, 0.236);top: 17.8%;height: 550px;width: 370px;text-align: center;display: flex; align-items: flex-end;justify-content: center;
    p{padding-bottom: 40px; color: black; font-family: $italic; margin-top: 30px;}}
    button{ height: 60px;width: 140px; background-color: rgba(244, 42, 42, 0.803);color: white;border-radius: 0px;border: 0px;font-family: $italic; margin-top: 80px; margin-bottom: 30px;font-size: 15px;line-height: 35px; text-align: center;
        a{color: white;text-decoration: none;font-size: 7px;}}
}

.services{
    background-image: url(./img/services\ img.jpg);position: relative; background-repeat: no-repeat; background-size: cover; height: 1550px;
    h2{color: rgb(255, 255, 255);font-size: 20px; font-family: $love; z-index: 6;position: relative;padding-top: 80px;}
    h3{font-size: 20px;font-family: $bh1;padding-top: 30px;z-index: 6;color: white;margin-right: 45%;margin-bottom: 30px;}
    h4{font-size: 8px;font-family: $bh1;margin-bottom: 30px;}
    .overlay{position: absolute;background-color: rgba(16, 9, 9, 0.795);top: 0; left: 0; height: 100%;width: 100%; z-index: 5; padding-top: 155px; display: flex; flex-direction: column; text-align: center;
        h4{font-family: $bh1; font-size: 20px;color: white;}
        h5{font-family: $italic;font-size: 25px;color: white;}
        p{font-family: $italic; font-size: 15px;line-height: 35px;color: white;}
        span{font-family: $italic; font-size: 20px;}
        .one{background-color: rgba(17, 36, 113, 0.797); padding-top: 10px; width: 391px;}
         .two{background-color: rgba(88, 61, 10, 0.797);  padding-top: 20px;width: 391px;}
        .three{background-color: rgba(17, 65, 17, 0.797); padding-top: 20px;width: 391px;}
        .four{background-color: rgba(54, 8, 8, 0.797); padding-top: 20px;width: 391px;}
        .info{margin-top: 20px;}
         .icons{width: 10%;  color: white; filter: invert(1);}}
   
   
}
.portfolio{display: flex; flex-direction: row; text-align: center;
    h2{color: black;font-size: 20px; font-family: $love; padding-top: 80px; padding-bottom: 50px;margin-right: 45%;}
    h4{font-size: 20px;font-family: $bh1;padding-top: 30px;margin-bottom: 30px; margin-right: 45%;}
    .images{position: relative;
        img{margin-bottom: 50px;position: relative; box-shadow: 1px 1px 5px 1px rgb(46, 37, 37);}
        .overlay{background-color: rgba(5, 4, 3, 0.783); position: absolute; opacity: 0; top: 0%; height: 0; left: 12%; font-family: $bold;  padding: 0px 20px; padding-top: 140px;
        a{text-decoration: none; color: white; text-align: center ; font-size: 25px; top: 50%;
        span{font-family: $italic; font-size: 20px;text-decoration: none;color: white;text-align: center;}}
         }
        } 

        .images:hover{cursor: pointer;
         .overlay{opacity: 1; transition: 1.5s; height: 87%; width: 76%;}}   
}


.contact{background-color: rgb(7, 6, 6); height: 1100px; padding-top: 80px; overflow-x: hidden;
    h5{font-family: $italic; font-size: 20px;color: white;padding-bottom: 20px;}
    p{font-family: $italic;color: white;}
    li{ color: white; font-family: $italic; line-height: 50px; padding: 0px 10px;
        a{text-decoration: none;color: white;font-family: $italic; display: flex; align-items: center; 
            img{width: 5%; color: white; margin-right: 20px; filter: invert(1);}}
    }
   .icons{color: white; filter: invert(1); padding-top: 30px; 
     img{width: 5%;}
    a{padding: 15px;}}
     .first{display: flex; flex-direction: column; }
     .second{display: flex; flex-direction: column; justify-content: flex-start;line-height: 30px;}
     form{margin-left: 20px;}
     input{color: white; display: flex; flex-direction: column; padding: 30px 60px 20px 30px; width: 350px; background-color:  rgb(7, 6, 6); border: 0; border-bottom: 1px solid rgba(255, 255, 255, 0.841);font-family: $italic; outline: 0;margin-left: 0px;}
     textarea{color: white; display: flex; flex-direction: column; padding: 5px 40px; background-color: rgb(7, 6, 6); border: 0; border-bottom: 1px solid rgba(255, 255, 255, 0.839);font-family: $italic; width: 350px; outline: 0;margin-left: 0px;}
     input::placeholder{color: white;}
     textarea::placeholder{color: white;}
     button{height: 60px;width: 140px; background-color: rgb(255, 255, 255);color: rgb(10, 10, 10);border-radius: 8px;border: 0px;font-family: $italic; margin-left: 55%; margin-bottom: 30px;font-size: 15px;line-height: 35px; text-align: center;margin-top: 20px;}
     button:hover{cursor: pointer;background-color: rgba(79, 9, 9, 0.522); color: rgb(251, 249, 249); border: 2px solid black;}
}

.footer{overflow-x: hidden;
    background-color: rgba(12, 12, 11, 0.776); height: 90px; display: flex; justify-content: center; text-align: center; align-items: center; border-top: 3px bold white;
    p{color: rgb(255, 255, 255);font-size: 10px;font-family: $italic; padding-bottom: 15px;
    #two{display: none;}}
}





/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 568px) {  

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  



    // .header{display: flex; justify-content: space-between;padding: 5%; align-items: center; height: 10px; background-color: rgb(39, 32, 37);

    .banner{
        background-image: url(./img/background\ 01.png);height: 750px;width: 100vw;background-size: cover;background-repeat: no-repeat;display: flex;flex-direction: column;position: relative;
        h1{color: rgba(255, 255, 255, 0.757);font-size: 60px; font-family: $love;}
        h3{color: rgba(255, 249, 242, 0.626); font-size: 20px; margin-top: 35px; font-family: $love;
        span{color: rgba(244, 42, 42, 0.643); font-size: 30px;font-family: $love;}
    }
    .icons{display: flex;flex-direction: row;}
    .buttons{margin-top: 80px; word-spacing: 10px; 
        button{margin-left: 200px;height: 140px;width: 140px; background-color: black;color: white;border-radius: 100px;border: 0px;font-family: black;font-size: 30px;margin-top: 50px;}
    a{ button{margin-left: 200px;height: 140px;width: 140px; background-color: rgba(244, 42, 42, 0.643);color: white;border-radius: 100px;border: 0px;font-family: black;font-size: 30px;margin-top: 50px; margin-left: 30px;}}
    button:hover{cursor: pointer;background-color: black;}
    }
    
    }
    .about{
        background-color:white; position: relative; 
    h2{color:black white;font-size: 20px;font-family: $love;padding-top: 80px;}
    h4{font-size: 20px;font-family: $bh1;padding-top: 30px;}
    .box{margin-top: 200px; margin-left: 5%;}
    a{text-decoration: none;}
    h5{font-size: 15px;font-family: $bh1; margin-top: 30px;
    span{color: rgba(244, 42, 42, 0.643);font-size: 20px; font-family: $fav;}}
    h3{font-size: 15px;font-family: $bh1; margin-top: 30px;
    span{font-size: 15px;font-family: $italic;}}
    p{color: black;font-family: $italic; line-height: 35px; font-size: 15px;
    span{font-size: 30px;color: rgb(141, 29, 29);margin-top: 30px;font-family: $love;} }
    .paragraph{margin-bottom: 80px; padding-left: 40px;line-height: 25px; font-family: $italic;}
    .image_one{padding-top: 40px;position: relative;
    img{position: relative; height: 600px;}}
    .overlay{position: absolute;background-color: rgba(0, 0, 0, 0.236);top: 17.8%;height: 550px;width: 370px;text-align: center;display: flex; align-items: flex-end;justify-content: center;
    p{padding-bottom: 40px; color: black; font-family: $italic; margin-top: 30px;}}
    button{ height: 60px;width: 140px; background-color: rgba(244, 42, 42, 0.803);color: white;border-radius: 0px;border: 0px;font-family: $italic; margin-top: 80px; margin-bottom: 30px;font-size: 15px;line-height: 35px; text-align: center;
        a{color: white;text-decoration: none;font-size: 7px;}}
    }
    
    .services{
        background-image: url(./img/services\ img.jpg);position: relative; background-repeat: no-repeat; background-size: cover; width: auto; height: 100vh;
        h2{color: rgb(255, 255, 255);font-size: 40px; font-family: $love; z-index: 6;position: relative;}
        .overlay{position: absolute;background-color: rgba(16, 9, 9, 0.795);top: 0; left: 0; height: 100%;width: 100%; z-index: 5; padding-top: 155px;
            h4{font-family: $italic; font-size: 30px;color: white;margin-top: 50px;}
            h5{font-family: $italic;font-size: 25px;color: white;}
            p{font-family: $italic; font-size: 15px;line-height: 35px;color: white;}
            span{font-family: $italic; font-size: 20px;}
            .one{background-color: rgba(17, 36, 113, 0.797); padding-top: 20px;width: 363px;}
             .two{background-color: rgba(88, 61, 10, 0.797); height: 300px; padding-top: 20px;width: 363px;}
            .three{background-color: rgba(17, 65, 17, 0.797); padding-top: 20px;width: 363px;}
            .four{background-color: rgba(54, 8, 8, 0.797); padding-top: 20px;width: 363px;}
            .info{margin-top: 0px;display: flex;flex-direction: row;}
             .icons{width: 20%;  color: white; filter: invert(1);}}
       
       
    }
    
    .portfolio{
        p{text-align: center;font-family: $italic;padding-top:145px; color: white;}
        img{position: relative;}
        h2{color: black;font-size: 30px; font-family: $love; padding-top: 80px;text-align: center;}
        h3{color: black;font-size: 50px;font-family: $love;}
        h4{color: black;font-size: 40px;font-family: $love;padding-top: 80px;text-align: center;padding-bottom: 30px;}
       
    }
    
    .contact{background-color: rgb(7, 6, 6); height: 600px; padding-top: 80px;
        h5{font-family: $italic; font-size: 30px;color: white;padding-bottom: 20px;}
        p{font-family: $italic;color: white;}
        li{ color: white; font-family: $italic; line-height: 50px; padding: 0px 10px;
            a{text-decoration: none;color: white;font-family: $italic; display: flex; align-items: center; 
                img{width: 5%; color: white; margin-right: 20px; filter: invert(1);}}
        }
       .icons{color: white; filter: invert(1); padding-top: 30px; 
         img{width: 5%;}
        a{padding: 15px;}}
         .first{display: flex; flex-direction: column; }
         .second{display: flex; flex-direction: column; justify-content: flex-start;line-height: 30px;}
         form{margin-left: 20px;}
         input{color: white; display: flex; flex-direction: column; padding: 30px 60px 20px 30px; width: 300px; background-color:  rgb(7, 6, 6); border: 0; border-bottom: 1px solid rgba(255, 255, 255, 0.841);font-family: $italic; outline: 0;margin-left: 20px;}
         textarea{color: white; display: flex; flex-direction: column; padding: 5px 40px; background-color: rgb(7, 6, 6); border: 0; border-bottom: 1px solid rgba(255, 255, 255, 0.839);font-family: $italic; width: 300px; outline: 0;margin-left: 10px;}
         input::placeholder{color: white;}
         textarea::placeholder{color: white;}
         button{height: 50px;width: 120px; background-color: rgb(255, 255, 255);color: rgb(10, 10, 10);border-radius: 8px;border: 0px;font-family: $italic; margin-left: 57%; margin-bottom: 30px;font-size: 15px;line-height: 35px; text-align:center;margin-top: 20px;}
         button:hover{cursor: pointer;background-color: rgba(79, 9, 9, 0.522); color: rgb(251, 249, 249); border: 2px solid black;}
    }
    
    .footer{
        background-color: rgba(0, 0, 0, 0.814); height: 90px;display: flex;  justify-content: center;align-items: center; border-top: 3px bold white;
        p{color: white;font-size: 18px;font-family: $italic;padding-top: 35px;}
    }
    
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 



    
    .banner{
        background-image: url(./img/background\ 01.png);height: 750px;width: auto;background-size: cover;background-repeat: no-repeat;display: flex;flex-direction: column;position: relative;
        h1{color: rgba(255, 255, 255, 0.757);font-size: 60px;font-family: $love; margin-top: 20%;}
        h3{color: rgba(255, 249, 242, 0.626); font-size: 25px; margin-top: 35px; font-family: $love;
        span{color: rgba(244, 42, 42, 0.643); font-size: 50px;font-family: $love;}
    }
    .icons{display: flex;flex-direction: row;}
    
    button{ height: 60px;width: 140px; background-color: rgba(244, 42, 42, 0.643);color: white;border-radius: 0px;border: 0px;font-family: $italic; margin-top: 80px; margin-bottom: 30px;font-size: 17px;line-height: 35px; text-align: center; margin-left: 0%;
    a{color: rgb(255, 246, 246);text-decoration: none;font-size: 10px;}}
    button:hover{cursor: pointer;background-color: white; color: black;}
    
    
    }
    .about{
        background-color:white; position: relative; 
    h2{color:black white;font-size: 30px;font-family: $love;padding-top: 80px;}
    h4{font-size: 30px;font-family: $bh1;padding-top: 30px;}
    .box{margin-top: 120px; margin-left: 25%;
    img{width: 250px;height: 100px;}}
    a{text-decoration: none;}
    h5{font-size: 15px;font-family: $bh1; margin-top: 30px;
    span{color: rgba(244, 42, 42, 0.643);font-size: 20px; font-family: $fav;}}
    h3{font-size: 15px;font-family: $bh1; margin-top: 30px;
    span{font-size: 15px;font-family: $italic;}}
    p{color: black;font-family: $italic; line-height: 35px; font-size: 15px;
    span{font-size: 30px;color: rgb(141, 29, 29);margin-top: 30px;font-family: $love;} }
    .para{margin-top: 100px;}
    .image_one{padding-top: 40px;position: relative;
    img{position: relative; height: 600px;}}
    .overlay{position: absolute;background-color: rgba(0, 0, 0, 0.236);top: 17.8%;height: 550px;width: 370px;text-align: center;display: flex; align-items: flex-end;justify-content: center;
    p{padding-bottom: 40px; color: black; font-family: $italic; margin-top: 30px;}}
    button{ height: 60px;width: 140px; background-color: rgba(244, 42, 42, 0.803);color: white;border-radius: 0px;border: 0px;font-family: $italic; margin-top: 80px; margin-bottom: 30px;font-size: 15px;line-height: 35px; text-align: center;
        a{color: white;text-decoration: none;font-size: 7px;}}
    }
    
    .services{
        background-image: url(./img/services\ img.jpg);position: relative; background-repeat: no-repeat; background-size: cover; width: auto; height: 100vh; text-align: center;
        h2{color: rgb(255, 255, 255);font-size: 30px; font-family: $love; z-index: 6;position: relative; margin-right: 90%;}
        .overlay{position: absolute;background-color: rgba(16, 9, 9, 0.795);top: 0; left: 0; height: 100%;width: 100%; z-index: 5; padding-top: 155px; display: flex;
            h3{font-size: 30px;font-family: $bh1;padding-top: 30px;z-index: 6;color: white;margin-right: 73%;margin-bottom: 30px;}
            h4{font-family: $italic; font-size: 30px;color: white;}
            h5{font-family: $italic;font-size: 25px;color: white;}
            p{font-family: $italic; font-size: 15px;line-height: 35px;color: white;}
            span{font-family: $italic; font-size: 20px;}
            .one{background-color: rgba(17, 36, 113, 0.797);height: 300px; padding-top: 20px;width: 363px;}
             .two{background-color: rgba(88, 61, 10, 0.797); height: 300px; padding-top: 20px;width: 363px;}
            .three{background-color: rgba(17, 65, 17, 0.797);height: 300px; padding-top: 20px;width: 363px;}
            .four{background-color: rgba(54, 8, 8, 0.797);height: 300px; padding-top: 20px;width: 363px;}
            .info{margin-bottom: 0px;}
             .icons{width: 20%; margin-bottom: 20px;  color: white; filter: invert(1);}}
       
       
    }
    
    .portfolio{display: flex; flex-direction: row; text-align: center;
        h2{color: black;font-size: 30px; font-family: $love; padding-top: 80px;text-align: center; padding-bottom: 30px; margin-right: 79%;}
        h4{font-size: 30px;font-family: $bh1;padding-top: 30px;z-index: 6;color: black;margin-right: 78%;}
        .images{position: relative;
            img{margin-bottom: 50px;position: relative; box-shadow: 1px 1px 5px 1px rgb(46, 37, 37);}
            .overlay{background-color: rgba(5, 4, 3, 0.783); position: absolute; opacity: 0; top: 0%; height: 0; left: 12%; font-family: $bold;  padding: 0px 20px; padding-top: 140px;
            a{text-decoration: none; color: white; text-align: center ; font-size: 25px; top: 50%;
            span{font-family: $italic; font-size: 20px;text-decoration: none;color: white;text-align: center;}}
             }
            } 

            .images:hover{cursor: pointer;
             .overlay{opacity: 1; transition: 1.5s; height: 87%; width: 76%;}}   
    }
    
    
    .contact{background-color: rgb(7, 6, 6); height: 600px; padding-top: 80px;
        h5{font-family: $italic; font-size: 30px;color: white;padding-bottom: 20px;}
        p{font-family: $italic;color: white;}
        li{ color: white; font-family: $italic; line-height: 50px; padding: 0px 10px;
            a{text-decoration: none;color: white;font-family: $italic; display: flex; align-items: center; 
                img{width: 5%; color: white; margin-right: 20px; filter: invert(1);}}
        }
       .icons{color: white; filter: invert(1); padding-top: 30px; 
         img{width: 5%;}
        a{padding: 15px;}}
         .first{display: flex; flex-direction: column; }
         .second{display: flex; flex-direction: column; justify-content: flex-start;line-height: 30px;}
         form{margin-left: 20px;}
         input{color: white; display: flex; flex-direction: column; padding: 30px 60px 20px 30px; width: 550px; background-color:  rgb(7, 6, 6); border: 0; border-bottom: 1px solid rgba(255, 255, 255, 0.841);font-family: $italic; outline: 0;margin-left: 20px;}
         textarea{color: white; display: flex; flex-direction: column; padding: 5px 40px; background-color: rgb(7, 6, 6); border: 0; border-bottom: 1px solid rgba(255, 255, 255, 0.839);font-family: $italic; width: 550px; outline: 0;margin-left: 10px;}
         input::placeholder{color: white;}
         textarea::placeholder{color: white;}
         button{height: 60px;width: 140px; background-color: rgb(255, 255, 255);color: rgb(10, 10, 10);border-radius: 8px;border: 0px;font-family: $italic; margin-left: 62%; margin-bottom: 30px;font-size: 15px;line-height: 35px; text-align: center;margin-top: 20px;}
         button:hover{cursor: pointer;background-color: rgba(79, 9, 9, 0.522); color: rgb(251, 249, 249); border: 2px solid black;}
    }
    
    .footer{
        background-color: rgba(0, 0, 0, 0.814); height: 90px; justify-content: center;align-items: center; border-top: 3px bold white;
        p{color: rgb(255, 255, 255);font-size: 18px;font-family: $italic;padding-top: 5px;}
    }
    
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
}



/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 

}
